.window.dark #main,
.window.dark #editor,
.window.dark #toolbar {
    background-color: #282828;
}

.window.dark #main .sidebar,
.window.dark #main .sidebar .footer {
    background-color: #282828;
}

.window.dark h1.title {
    color: white;
}


.window.dark #main .sidebar .filename,
.window.dark #main .sidebar .footer .add-include-button,
.window.dark #main .sidebar .footer .new-include-form h5 {
    color: #888;
}

.window.dark #main .sidebar .nav-group-item.active {
    background: #666;
}

.window.dark #main .sidebar .nav-group-item.active .filename {
    color: #CCC;
}

.window.dark #toolbar .button:hover .icon {
    color: #CCC;
}

/* e.g. filename input */
.window.dark #main .sidebar .footer input {
    background: #333;
    border: 1px solid #888;
    color: #888;
}

.window.dark #main .sidebar .footer .checkbox {
    color: #888;
}



.window.dark #toolbar {
    border-bottom: 1px solid #888;
}

.window.dark #toolbar div.issuesSummary .issueCount {
    color: #888;
}

.window.dark #main .sidebar .footer {
    border-top: 1px solid #555;
}


.window.dark .ace_editor .ace_marker-layer .ace_selection {
    background-color: #444;
}

.window.dark .ace_editor .ace_marker-layer .ace_selected-word {
    background-color: #999;
    border-color: #dedede;
}

.window.dark #editor,
.window.dark #player,
.window.dark .ace_editor .ace_cursor {
    /*color: #f0f0f0; */
    color: #faf1c6;
}

.window.dark .ace_editor .ace_indent-guide {
    opacity: .1;
}

.window.dark .ace_editor .ace_marker-layer .ace_active-line {
    background-color: rgba(255, 255, 255, 0.05);
}

.window.dark #player hr {
    border-top-color: #444;
}

.window.dark #player p.choice a:hover {
    color: #999;
}

.window.dark #editor .ace_gutter-layer,
.window.dark .split {
    background: #444;
}

.window.dark #editor .ace-error {
    background: darkred;
}

.window.dark #editor .ace_todo,
.window.dark #editor .ace-todo {
    background:#f2ad2b;
    color: #784a0f;
}

.window.dark .ace_editor span.ace_flow.ace_declaration,
.window.dark .ace_editor span.ace_divert,
.window.dark .ace_editor span.ace_choice.ace_label,
.window.dark .ace_editor span.ace_gather.ace_label,
.window.dark .ace_editor span.ace_glue,
.window.dark .ace_editor span.ace_include,
.window.dark .ace_editor span.ace_external {
  color:#6d9e8e;
}

.window.dark .ace_editor span.ace_choice.ace_bullets,
.window.dark .ace_editor span.ace_choice.ace_weaveBracket,
.window.dark .ace_editor span.ace_gather.ace_bullets {
    color: #ec3c2f;
}

.window.dark .ace_editor span.ace_var-decl,
.window.dark .ace_editor span.ace_list-decl {
    color: #ec3c2f;
}
.window.dark .ace_editor span.ace_logic:not(.ace_innerContent) {
  color:#8eb865;
}

.window.dark #main.hideTags .ace_editor span.ace_tag {
    color: #282828;
}
